.clip {


    
}

.clip-brazil {
    font-size: 60px;
    padding-top: 30px;
    margin-bottom: 40px;
    background-clip: text;
    background: -webkit-linear-gradient(#D3D3D3, grey);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1, 5;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.clip-usa {
    font-size: 60px;
    padding-top: 30px;
    margin-bottom: 40px;
    background-clip: text;
    background: -webkit-linear-gradient(#D3D3D3, grey);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1, 5;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.clip-es {
    font-size: 60px;
    padding-top: 30px;
    margin-bottom: 40px;
    background-clip: text;
    background: -webkit-linear-gradient(#D3D3D3, grey);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1, 5;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.num-in-circle {

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 13px;
    padding-right: 13px;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    border: 1px solid white;

}